/* MAP */

.map{
    text-align: center;
}

.map__title{
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title::after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 20px auto 0;
}

.map__title-icon{
    margin-bottom: 10px;
}

.map__title a{
    color: inherit;
    text-decoration: none;
}

.map__title a:hover{
    text-decoration: underline;
}

/* MEDIA */

@media (max-width:1230px){
    
}

@media (max-width:992px){
    
}

@media (max-width:768px){

}

@media (max-width:576px){

}