/* REVIEWS */

.reviews{
    padding: 0 110px;
    position: relative;
}

.reviews__item{
    padding-left: 200px;
    position: relative;
}

.reviews__photo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reviews__avatar{
    width: 150px;
    height: 150px;
    border: 2px solid #95e1d3;
    border-radius: 50%;
}

.reviews__text{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
}   

.reviews__author{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}

.reviews__author::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}

.reviews__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: transparent;
    font-size: 0;
}

.reviews__btn::after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;    
}


.reviews__btn-prev{
    left: 0;
    transform: rotate(225deg);
}

.reviews__btn-next{
    right: 0;
    transform: rotate(45deg);
}

/* MEDIA */

@media (max-width:1230px){
    .reviews__text{
        font-size: 20px
    }
}

@media (max-width:992px){
    .reviews{
        padding: 0 50px;
    }
    .reviews__photo{
        width: 140px;
        height: 140px;
    }
    .reviews__item{
        padding-left: 160px;
    }
  
}

@media (max-width:768px){
    .reviews__photo{
        width: 120px;
        height: 120px;
        position: absolute;
        left: 50%;
        top: 22%;
        transform: translate(-50%,-50%)
    }
    .reviews__item{
        padding-top: 150px;
        padding-left: 0;
    }
    .reviews__text{
        font-size: 16px;
    }
    .reviews__author::before{
        width: 40px;
    }
    
}

@media (max-width:576px){
    .reviews{
        padding: 0 5px;
    }
    .reviews__photo{
        width: 100px;
        height: 100px;
    }
    .reviews__author{
        font-size: 18px;
    }

    .reviews__btn{
        top: 18%;
    }
}